* {
    box-sizing: border-box;
}

button {
    display: block;
    border: none;
    padding: 1em 2em;
    margin: 1em auto;
    background-color: blueviolet;
    color: white;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#container {
    margin: auto;
    width: 560px;
}